/* PHASE 4: Footer */
footer {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  background: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgray;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  align-items: center;
  order: 3;
  height: 50px;
}